.content {
	display: flex;
	align-items: center;

	.img {
		width: 214px;
		height: 214px;
		border-radius: 10px;
		margin-right: 80px;
	}

	.teamInfo{
		width: 100%;
		.name{
			font-size: 25px;
			color: black;
			font-weight: 600;
		}
	}
}
