.card{
	width: 100%;
	padding: 30px;
	background-color: #FFFFFF;
	border-radius: 10px;

	.imgContainer{
		margin-right: 30px;
	}

	.img{
		width: 214px;
		height: 214px;
		border-radius: 10px;
	}

	.header{

	}
}
