.contet{
	background-color: #ffffff;
	border-radius: 10px;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;

	width: 100%;
	height: 71.5vh;

	.headerText{
		color: black;
		font-size: 25px;
		font-weight: 600;
		margin-bottom: 20px;
	}


	.changeAvatar{
		display: flex;
		align-items: center;
		margin-bottom: 25px;

		.imgInfo{
			margin-left: 30px;

			.mainTextImg{
				color: black;
			}

			.infoAboutImg{
				color: #71717A;
			}
		}
	}

	.inputAndCheckEmail{
		display: flex;
		align-items: center;
		margin-bottom: 25px;
	}
}
