.contet{
	padding-top: 20px;
	padding-left: 20px;

	.header{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.headerText{
		color: black;
		font-size: 25px;
		font-weight: 600;
	}

	.profileEditComponenst{
		margin-top: 30px;
	}
}
