.content{
	.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
  }

	.headerTitle{
		color: black !important;
		font-size: 25px;
		font-weight: 600;
	}

	.teamCard{
		max-width: 100%;
	}
}
