.container {
  display: flex;
  align-items: center;

  .avatar {
    width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

  .nameAndExit {
    margin-left: 22px;
  }

  .fio {
    width: 100px;
    font-size: 26px;
    color: black;
    font-weight: 600;
  }

  .exit {
    color: #71717a;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .exit:hover {
    color: red;
  }
}
