.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  // background: #000;
  align-items: center;

  .main {
    flex: 1; /* Занимает оставшееся пространство */

		.content{
			margin-top: 192px;
		}
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }

  @media (max-width: 480px) {
    max-width: 100%;
  }
}
