.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  // background: #000;
  align-items: center;
	background-color: #F4F8FE;

  .main {
    // flex: 1; /* Занимает оставшееся пространство */
    // margin-top: 192px;
    width: 100vw;
    margin-bottom: 160px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }

  @media (max-width: 480px) {
    max-width: 100%;
  }
}
