.contet{
	padding-top: 40px;

	.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
  }

	.headerTitle{
		color: black;
		font-size: 25px;
		font-weight: 600;
	}
}
